#catalog-product-page.wrapper {
    max-width: unset;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

#catalog-product-page .wrapper-main{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
    gap: 45px;

    margin-right: 50px;
    margin-left: 50px;
}

.nav-bar-catalog-page {
    display: flex;
    align-items: center;
}

.product-container {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #000;
    border-radius: 20px;
}

.product-image {
    overflow: hidden;
    height: 410px;
    border-radius: 20px;
}

.product-image img {
    width: 310px;
    height: 410px;
    cursor: pointer;
    border-radius: 20px;
    transform: scale(1);
    transition: 2s;
}

.product-image img:hover {
    transform: scale(1.1);
    transition: 2s;
    border-radius: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.product-name {
    margin: 5px 0 10px 0;
}

.product-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.product-wrapper  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


/* manipulating with product list */

.manipulating-buttons, .filter-buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.filter-button, .sort-button {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.filter-button:hover,
.sort-button:hover,
.apply-button:hover,
.clear-button:hover {
    transition: 1s;
    background-color: rgb(227, 204, 168);
}

.apply-button, .clear-button {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
}

.filtering-options fieldset div {
    display: flex;
    /* justify-content: space-around; */
}

/* filtering form */

.filter-container {
    display: none;
}

.filter-container.active  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.filtering-options  {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto;
    gap: 10px;
}

.filter {
    width: 200px;
    padding: 5px;
    border: 3px solid #1e8356;
    text-align: center;
}

@media screen and (max-width: 1040px) {
    .filtering-options {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: auto auto;
        gap: 10px;
    }
}


@media screen and (max-width: 550px) {
    #catalog-product-page .wrapper-main {
        margin: 10px;
    }

    .filtering-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}