body {
    margin: 0 auto;
    background-color: rgb(113, 166, 214);
}

.wrapper {
    max-width: 1980px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper-header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin: auto 0;
    font-size: 30px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-main {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form, fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

legend {
    text-align: center;
}

.email-input, .password-input {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}