.navigation-main-page, .nav-bar {
    display: flex;
    align-items: center;
}

.nav-item a {
    color: #2cb482;
    text-decoration: none;
    font-family: 'The Hoca Font Family';
    font-size: 13px;
    font-weight: 700;
    transition: 1s;
}

.nav-item a:hover {
    transition: 1s;
    color: #3179c7;
}

.logo-container {
    display: flex;
    align-items: center;
}

.icon-image {
    width: 30px;
}