*,
*::before,
*::after {
    box-sizing: border-box;
    scrollbar-width: thin;
}
body {
    margin: 0 auto;
    background-color: #9c9c9c83;
    overflow-y: scroll;
}

.wrapper {
    max-width: 1980px;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.wrapper--PI {
    justify-content: normal;
    width: 100%;
    flex-direction: column;
    font-size: 0.875rem;
}
.personal-info-main {
    width: 100%;
}
.wrapper-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-main--PI {
    flex-direction: column;
    padding: 10px 0;
}
.PI__title-heading {
    font-size: 1.75rem;
}
.PI__container {
    max-width: 980px;
    width: 65%;
    border-radius: 8px;
    border: 1px solid #e1e3e1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 24px 12px 0px;
    padding: 12px 0px 0px;
    background-color: #fff;
    box-shadow: 6px 6px 6px -2px rgba(156, 156, 156, 0.75);
}
.PI__container-title-heading {
    font-size: 1.375rem;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 24px;
    color: #1f1f1f;
}
.user-info__address-open {
    padding: 0 24px;
    position: relative;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.5s ease;
}
.user-info__address-open.address-open {
    max-height: 1000px;
}
.user-info__address-open .user-info__content {
    padding-left: 0;
    padding: 4.5px 0;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    position: relative;
    height: 100%;
}
.user-info:not(:last-child)::after {
    position: absolute;
    content: '';
    left: 23px;
    width: calc(100% - 23px);
    bottom: 0;
    height: 1px;
    background-color: #e1e3e1;
}
/* .PI__container .user-info:last-child::after {
    height: 0;
} */
.user-address:not(:last-child) .user-info::after,
.user-address:not(:last-child) .user-info__address-open::after {
    position: absolute;
    content: '';
    left: 23px;
    width: calc(100% - 23px);
    bottom: 0;
    height: 1px;
    background-color: #e1e3e1;
}
.user-address:has(.user-info__address-open) .user-info {
    padding-bottom: 19px;
}
.PI__container-save {
    padding: 14px 30px 14px 24px;
    display: flex;
}
.user-info__btn-save {
    cursor: pointer;
    margin-left: auto;
    font-size: 1rem;
    padding: 4px 20px;
    border: 0;
    border-radius: 15px;
    color: rgb(240, 240, 240);
    background-color: #1677ff;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;

}
.user-info__btn-save:hover,
.user-info__btn-save:focus {
    background-color: #4096ff;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px 0px;
}
.user-info__btn-save:disabled {
    cursor: default;
    color: rgba(31, 31, 31, 0.38);
    background-color: rgba(31, 31, 31, 0.12);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.user-info__field-wrap {
    flex: 1 1 0;
    position: relative;
}
.user-info__content-input:has(.user-info__content-adrs-type-wrap) {
    padding: 4px 5px;
}
.user-info__field {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: left;
    height: 100%;
}
.user-info__field-address {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.user-info__descr-wrap {
    display: flex;
    align-items: center;
    flex-basis: 156px;
    margin-right: 24px;
    padding-top: 4px;
}
.user-info__descr {
    font-size: 16px;
    color: #444746;
    font-size: 0.875rem;
}
.user-info__content-wrap {
    display: flex;
    flex-basis: 300px;
    gap: 10px;
}
.user-info__content {
    display: block;
    font-size: 1.125rem;
    word-break: break-all;
    color: #1f1f1f;
}
.user-info__content-input {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    outline: none;
    border: 1px solid #1f1f1f;;
    border-radius: 4px;
    padding: 6px 5px;
    color: rgb(60, 64, 67);
    cursor: pointer;
    font-size: 0.875rem;
}
.user-info__content-input:hover,
.user-info__content-input:focus {
    padding: 5px 4px;
    border-width: 2px;
    border-color: #4096ff;
}
.user-info__address-open .user-info__content-input:hover,
.user-info__address-open .user-info__content-input:focus {
    padding: 6px 5px;
    border-width: 1px;
}
.user-info__content-input.user-info__content-input-type {
    padding: 5px 5px;
}
.user-info__content-input.user-info__content-input-type:hover {
    padding: 5px 5px;
}
.user-info__content-wrap:has(.user-info__content-input){
    flex-basis: auto;
    flex-grow: 1;
    /* width: 100%; */
}
.user-info__err-msg {
    display: none;
    position: absolute;
    top: 95%;
    /* height: 16px; */
    font-size: 0.875rem;
    color: red;
}

.user-info__content-input-open-btn {
    margin-left: auto;
    display: flex;
    gap: 10px;
    outline: none;
    border: 0;
    border-radius: 50%;
    padding: 0;
    color: rgb(60, 64, 67);
    cursor: pointer;
    font-size: 1rem;
    background-color: #fff;
}
.user-info__content-input-open-btn:hover {
    background-color: #e1e3e1;
    transition: all 0.2s;
} 
.user-info__content-input-open-btn .img-toggle {
    width: 18px;
    height: 18px;
    user-select: none;
}
.user-info__open-list-type {
    position: absolute;
    top: 100%;
    z-index: 2;
    margin-top: 2px;
    padding: 0 2px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(250, 250, 255);
    /* box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}
.user-info__open-no-options {
    text-align: center;
    font-size: 1.15rem;
    padding: 6px 12px;
    margin: 2px 0;
    background-color: rgb(241, 240, 255);
}
.user-info__open-type-elem {
    cursor: pointer;
    position: relative;
    z-index: 2;
    padding: 6px 12px;
    background-color: rgb(241, 240, 255);
    margin-top: 4px;
    font-size: 1rem;
}
.user-info__open-type-elem:last-child {
    margin-bottom: 4px;
}

.user-info__content-adrs-type-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(241, 240, 255);
    border: 1px solid rgb(210, 212, 224);
    border-radius: 15px;
    padding: 0px 6px;
    min-height: 16px;
    max-height: max-content;
}
.user-info__content-adrs-type {
    text-align: center;
    font-size: 0.875rem;
}
.user-info__content-adrs-type-btn-delete {
    position: relative;
    width: 15px;
    height: 15px;
    border: 0;
    cursor: pointer;
}
.user-info__content-adrs-type-btn-delete::after,
.user-info__content-adrs-type-btn-delete::before {
    position: absolute;
    content: '';
    top: 44%;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: #1f1f1f;
}
.user-info__content-adrs-type-btn-delete:hover::after,
.user-info__content-adrs-type-btn-delete:hover::before {
    background-color: red;
}
.user-info__content-adrs-type-btn-delete::after {
    transform: rotate(-45deg);
}
.user-info__content-adrs-type-btn-delete::before {
    transform: rotate(45deg);
}

.user-info__btns {
    display: flex;
    margin-bottom: auto;
}
.user-info__edit,
.user-info__toggle,
.user-info__delete-adress {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16px;
}
.user-info__edit-btn,
.user-info__toggle-btn,
.user-info__delete-adress-btn {
    position: relative;
    z-index: 1;
    padding: 6px;
    border: 0px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.user-info__edit-btn:hover,
.user-info__toggle-btn:hover,
.user-info__delete-adress-btn:hover {
    background-color: #e1e3e1;
    transition: all 0.2s;
}
.user-info__edit-btn--disabled,
.disabled-country {
    opacity: 0.5;
    cursor: default;
}
.user-info__edit-btn--disabled:hover,
.disabled-country:hover {
    background-color: #fff;
}

.img-edit,
.img-toggle,
.img-delete-adress {
    width: 20px;
    height: 20px;
    user-select: none;
}

.user-info__address-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
.user-info__address-number-wrap {
    display: flex;
    align-items: center;
}

.user-info__address-container {
    display: flex;
    flex: 1 1 0;
    font-size: 1.125rem;
}
.user-info__address-wrap {
    margin-right: 24px;
    flex-basis: 300px;
}
.user-info__address {
    word-break: break-all;
    display: block;
}
.user-info__address,
.user-info__address-type {
    color: #1f1f1f;
}

.user-info__address-type-wrap {
    flex-basis: 300px;
}

@media (max-width: 1048px) {
    .PI__container {
        width: 70%;
    }
}

@media (max-width: 940px) {
    .PI__container {
        width: 75%;
    }
}

@media (max-width: 720px) {
    .PI__container {
        width: 80%;
    }
}

@media (max-width: 659px) {
    .PI__container {
        width: 95%;
    }
    .user-info {
        align-items: normal;
        flex-direction: column;
        gap: 15px;
    }
    .user-info__edit,
    .user-info__btns {
        align-self: flex-end;
    }
}